.root {
    background: transparent;
    position: relative;

    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #ff0000, #0066ff, #0066ff);
    border-image-slice: 1;

    height: 15vh;
}

.clear_block {
    width: 100%;

    height: 50%;
}

.navigation_block {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    border-top: 2px solid transparent;
    border-image: linear-gradient(to left, #0066ff, #fefefe);
    border-image-slice: 1;
}

.background {
    background:  linear-gradient(180deg, #0166FF, #3A67DD);
    position: absolute; top: 0; left: 0;
    height: 100%; width: 50%;
    z-index: -2;
}

.auth_button svg {
    display: flex;
    align-self: center;
}

.nav_elements {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.info_buttons {
    display: flex;
    justify-content: space-around;

    margin: 0 20px;

    width: 100%;
}

.nav_item {
    text-transform: uppercase;
    text-decoration: none;

    color: #0066ff;

    font-size: 24px;

    font-family: 'Rubik', sans-serif;
}

.white_text {
    color: white;
}
