
.header_content {
    align-self: center;

    width: 80%;
    height: 95%;
    background: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(30px); 

    border-radius: 30px;
    padding: 12vh 11vh;

    display: flex;
    justify-content: space-between;

    
    /* transform: translateX(-300%); */
    transition: .2s;
}

.text_block {
    color: white;

    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    width: 90%;
}

.sub_text {
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vh;
}

.pictures_block {
    width: 60%;
    position: relative;
}

.select_points {
    display: flex;

    margin-top: 50px;
}

.point {
    width: 5px; height: 5px;
    border-radius: 60px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    margin: 10px;
}

.point_active {
    background: #0066ff;
}



.first_image {
    position: absolute;
    top: -5%;
    z-index: 1;

    width: 70%;
}

.second_image {
    position: absolute;
    bottom: -6%;
    left: 28%;


    z-index: 2;
    width: 65%;
}

.third_image {
    position: absolute;
    z-index: 3;
    width: 35%;

    right: 0;
    top: 12%;
}

.header_image {
    position: absolute;

    max-height: 100%;

    left: 20%;
}